@media (max-width: 375px) {
	.header-disk{
		width: 70%;
	}
	.nav li{
		font-size: 15px;
	}
}

@media (min-width: 1180px) {
	.sns_link li {
		font-size: 50px;
	}
}

@media (max-width: 392px){
	.scd .calendar td {
	    height: 3em;
	    line-height: 2.5em;
	    width: 3em;
	}
	.scd h2 {
	    font-size: 1.5em;
	}
	.scd.container{
		margin: 25px 2% 0;
		min-width: 300px;
	}
	.event:after {
	    bottom: 1.5px;
	}
}