@media (min-width:1180px) {
	.concert107 img{
    width: 500px;
    transform: translateY(10%);
	}

	.sns_link li{
		font-size: 60px;
	}

}

@media (max-height: 570px) {
	.concert107 {
    height: 600px;
	}

	.concert107 img{
    transform: translateY(0);
    width: 300px;
    margin-top: 150px;
	}

	.header-disk{
		height: 600px;
	}
	.header-disk img{
		width: 300px;
	}
}