body {
	background:#A1C8FF url("") no-repeat top center;
	background-size:800px;
}

.header {
	text-align:center;
}

.header * {vertical-align:middle;}
.header h1 {
	margin: 0 18px 33px 18px;
	padding: 80px 0 58px 0;
	border-bottom: 1px solid #737680;
}

.header-logo {
    width:178px;
    height:51px;
    background:url("images/cprmusic_lowercase.png") no-repeat;
    background-size:contain;
}
.header-disk{
	text-align: center;
	margin-bottom: 30px;
}


.header-cprmusiq{
	animation: AA ease;
	animation-duration: 3s;
	animation-iteration-count: 3;
}

@keyFrames AA{
	0%{
		transform: scale(0.9);
	}

	50%{
		transform: scale(1.1);
	}

	100%{
		transform: scale(0.9);
	}
}

.header-links{
	padding: 0 50px;
}

.footer {
	padding:50px;
	background:#141728;
	text-align: center;
}

.footer-logo {
	width:172px;
	height:41px;
	margin-bottom:50px;
	background-image: url("images/cprmusic_lowercase.png");
	background-size: cover;
}
.sns_link span{
	transition: all 0.2s ease;
}
.sns_link span:hover{
	transform: scale(1.2);
}

.sns_link {
	width:100%;
	margin-bottom:50px;
}

.sns_link li {
	float:left;
	width:33.33%;
	font-size:38px;
}

.etc-list li {
	margin-bottom:25px;
	text-align:left;
	font-size:18px;
	position: relative;
	overflow: hidden;
}

.etc-list a{
	border-bottom: 1px solid transparent;
	transition: all 0.4s ease;

}

.etc-list a:hover{
	border-bottom: 1px solid;
}

.copyright p{
	font-size: 13px;
    margin-top: 10px;
}